body{
    background-image: url('../images/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#logo{
    border-radius: 15px;
    height: 40px;
    width: auto;
}

#profile_pic{
    border-radius: 100%;
    height: 300px;
    width: auto;
}

#profile_pic_navbar{
    border-radius: 100%;
    height: 40px;
    width: auto;
}

#profile{
    margin-inline: 150px;
    margin-block: 60px;
    margin-bottom: 85px;
}

.error {
    color: red;
}

.jumbotron{
    height: 250px;
}

.nav-item > .active{
    border-bottom: 2px solid green;
}

.nav-item > .active > ion-icon{
    color: green;
}

.card {
    border-radius: 20px;
    margin-top: 30px;
}

.card_center {
    margin: auto!important;
    padding: 0 2% 0 2%;
}

.card > .card-header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.modal-content{
    border-radius: 20px;
}

.modal-footer > .btn {
    width: 100%;
    border-radius: 15px;
}

#homepage_main_img{
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

#homepage_header_1{
    font-family: 'Licorice', 'cursive';
    font-weight: 1000;
    color: brown;
}

#homepage_header_2{
    font-size: 80px;
    font-family: 'Nunito Sans', sans-serif;
    color: rgba(0, 0, 0, 0.575);
}

#homepage_main_font{
    margin-left: 10%;
    margin-block: 5%;
}

.card > .card-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 300px;
}

.card > a{
    color: #000000;
    text-decoration: none;
}

.carousel-item{
    margin-left: 15%;
}

#homepage_heading{
    margin-top: 8%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#homepage_heading2{
    margin-top: 3%;
    margin-bottom: 4%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}

#for_you_content{
    margin-left: 3%;
}

#for_you_content > .col-3 > .card {
    border-radius: 10px;
    /* margin-bottom: 10%; */
}

#for_you_content > .col-3 > .card > .card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
}

#add_product_heading{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 1%;
    padding-left: 5%;
}

#add_product_div > .card{
    margin-left: 5%;
    width: 90%;
    border-radius: 15px;
}

#default_product_img{
    border-radius: 5px;
    border: 1px solid;
    height: 360px;
    width: 400px;
}

.carousel-item > .row > .col-3 > .card{
    height: 90%;
}