body{
    background-image: url('../images/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


#logo{
    border-radius: 15px;
    height: 40px;
    width: auto;
}

#profile_pic{
    border-radius: 100%;
    height: 300px;
    width: auto;
}

#profile_pic_navbar{
    border-radius: 100%;
    height: 40px;
    width: auto;
}

#profile{
    margin-inline: 150px;
    margin-block: 60px;
    margin-bottom: 85px;
}

.error {
    color: red;
}

.jumbotron{
    height: 250px;
}

.carousel-inner > .carousel-item > img{
    height: 400px;
    width: 100%;
}

.nav-item > .active{
    border-bottom: 2px solid green;
}

.nav-item > .active > ion-icon{
    color: green;
}

.card {
    border-radius: 30px;
    margin-top: 30px;
}

.card_center {
    margin: auto!important;
    padding: 0 2% 0 2%;
}

.card > .card-header{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.modal-content{
    border-radius: 20px;
}

.modal-footer > .btn {
    width: 100%;
    border-radius: 15px;
}
